body{
    margin: 0;
     padding: 0;
  
     background-color:#e2ebe6  ;
       box-sizing: border-box;
     
  }
  .card{
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    color: #0d301e;
    margin: 20px 40px;
border-bottom: 1px solid #d8e7e2;
box-shadow: 0px 1px 4px rgb(0,0,0,.2);

}
